{{ define "main" }}
  <main>
    <div class="container grid no-row-gap">
      <div class="col-12 col-lg-10 offset-lg-1 col-xxxl-8 offset-xxxl-2">
        <h1>{{ .Title }}</h1>
      </div>

      {{ if .Params.image }}
        <div class="col-12 col-sm-6 col-lg-5 offset-xl-1 col-xxxl-4 offset-xxxl-2">
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="page-image">
        </div>
      {{ end }}

      <div class="col-12 col-sm-6 col-lg-5 col-xxxl-4">
        {{ with .Description }}<p class="large-text no-margin">{{ . }}</p>{{ end }}

        {{ with .Params.numberOfAxes }}<p>{{ T "numberOfAxes" }}: {{ . }}</p>{{ end }}
        {{ with .Params.maxXAxis }}<p>{{ T "maxXAxis" }}: {{ . }}</p>{{ end }}
        {{ with .Params.maxYAxis }}<p>{{ T "maxYAxis" }}: {{ . }}</p>{{ end }}
        {{ with .Params.maxZAxis }}<p>{{ T "maxZAxis" }}: {{ . }}</p>{{ end }}
        {{ with .Params.maxSindleSpeed }}<p>{{ T "maxSindleSpeed" }}: {{ . }}</p>{{ end }}
        {{ with .Params.numberOfMachines }}<p>{{ T "numberOfMachines" }}: {{ . }}</p>{{ end }}
        {{ with .Params.year }}<p>{{ T "year" }}: {{ . }}</p>{{ end }}

        {{ .Content | safeHTML }}
      </div>
    </div>
  </main>

  {{ partialCached "contact-banner" . }}
{{ end }}
