{{ define "main" }}
  <main>
    <div class="container">
      <div class="grid">
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
          <h1 class="section-margin-small-top">{{ .Title }}</h1>
          {{ with .Description }}
            <p class="large-text p-margin-large-bottom">{{ . }}</p>
          {{ end }}
        </div>
      </div>

      <div class="grid">
        {{ range .Pages }}
          <div class="col-12 col-sm-6 col-lg-4">
            {{ partial "card" (dict "context" .) }}
          </div>
        {{ end }}
      </div>
    </div>
  </main>

  {{ partial "contact-banner" (dict
    "context" .
    "class" "section-margin-small-top"
  ) }}
{{ end }}
