{{ define "main" }}
  <main>
    <div class="container grid no-gap">
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
        <h1 class="section-margin-small-top">{{ .Title }}</h1>
        {{ .Content | safeHTML }}
        <h2>{{ T "people" }}</h2>
      </div>

      <div class="col-12 col-md-10 offset-md-1 col-xxl-8 offset-xxl-2 grid">
        {{ range .Pages }}
          <div class="col-12 col-xs-6">
            {{ partial "card" (dict
              "context" .
              "class" "card--person"
              "hideButton" true
              ) }}
          </div>
        {{ end }}
      </div>
    </div>
  </main>

  {{ partialCached "contact-banner" . }}
{{ end }}
