.button {
  font-size: 16px;
  padding: clamp(12px, 2.4vw, 20px) clamp(32px, 6.4vw, 48px);
  display: inline-flex;
  gap: clamp(12px, 2.4vw, 20px);
  align-items: center;
  text-transform: uppercase;
  border: 3px solid var(--brand);
  background-color: var(--surface3);
  color: var(--text1);
  min-width: 160px;
  text-align: center;
  transition: background 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--surface4);
  }

  &:not(.no-arrow)::after {
    content: "→";
  }

  &--secondary {
    background-color: var(--surface1);

    &:hover {
      background-color: var(--surface2);
    }
  }

  &--tertiary {
    border: none;
    background: none;
    color: var(--brand);
    min-width: auto;
    padding: 0 0 2px;
    border-bottom: 3px solid var(--brand);
    transition: border-color 0.3s ease;
    text-transform: none;
    gap: 8px;

    &:hover {
      background: none;
      color: var(--text2);
      border-color: var(--text2);
    }
  }
}
