.button {
  font-size: 16px;
  padding: clamp(12px, 2.4vw, 16px) clamp(32px, 6.4vw, 40px);
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid var(--color-black);
  background: var(--color-black);
  color: var(--color-white);
  min-width: 160px;
  text-align: center;
  transition: background 0.3s ease;
  cursor: pointer;

  &:hover {
    background: var(--color-black);
  }

  &--secondary {
    background: transparent;
    color: var(--color-black);

    &:hover {
      background: var(--color-white);
    }
  }

  &--tertiary {
    border: none;
    background: none;
    color: var(--color-black);
    min-width: auto;
    padding: 0 0 2px;
    border-bottom: 2px solid var(--color-primary);
    transition: border-color 0.3s ease;
    text-transform: none;

    &:hover {
      background: none;
      border-color: var(--color-black);
    }
  }

  &--orange {
    background: var(--color-orange);
    border-color: var(--color-orange);

    &:hover {
      background: var(--color-orange);
      border-color: var(--color-orange);
    }
  }
}
