.contact-banner {
  background-color: var(--surface4);
  color: var(--text2);
  padding: var(--section-margin);
  margin-top: calc(2 * var(--section-margin));

  h2 {
    margin: 0 0 var(--p-margin);
  }

  + .footer {
    margin-top: 0;
  }
}
