.cookies {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--color-white);
  padding: 12px 0;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  z-index: 1000;

  @include breakpoint-up('md') {
    padding: 24px 0;
  }
}
