.footer {
  margin-top: var(--section-margin);
  padding: calc(2 * var(--p-margin)) 0;
  background-color: var(--surface2);

  @include breakpoint-down("md") {
    --grid-row-gap: calc(2 * var(--p-margin));
  }

  a {
    border-bottom: none;
  }

  .grid {
    // align-items: center;
  }

  &__logo {
    border-bottom: none;
    display: block;

    @include breakpoint-down("md") {
      text-align: center;
    }

    img {
      width: auto;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoint-down('md') {
      align-items: center;
    }

    a {
      flex-shrink: 0;
    }
  }

  &__copyright {
    text-align: center;
    color: var(--text2);

    @include breakpoint-up("md") {
      text-align: right;
    }
  }
}
