input,
textarea {
  border: 1px solid var(--text1);
  padding: clamp(12px, 2.4vw, 16px);
  background-color: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--p-margin);
}

.form-item {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;

  &--checkbox {
    flex-direction: row;

    label {
      order: 2;
    }

    input {
      order: 1;
      margin-top: 6px;
    }
  }
}
