.is-hidden {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.section-margin {
  margin-top: var(--section-margin);
  margin-bottom: var(--section-margin);
}

.section-margin-top {
  margin-top: var(--section-margin);
}

.section-margin-bottom {
  margin-bottom: var(--section-margin);
}

.section-padding {
  padding-top: var(--section-margin);
  padding-bottom: var(--section-margin);
}

.section-padding-top {
  padding-top: var(--section-margin);
}

.section-padding-bottom {
  padding-bottom: var(--section-margin);
}

@media screen {
  .negative-cp {
    width: calc(100% + (2 * var(--container-padding)));
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
  }

  @each $key, $value in $breakpoints {
    @include breakpoint-down($key) {
      .negative-cp-#{$key}-down {
        width: calc(100% + (2 * var(--container-padding)));
        margin-left: calc(-1 * var(--container-padding));
        margin-right: calc(-1 * var(--container-padding));
      }

      .is-hidden-#{$key}-down {
        display: none !important;
      }

      .no-padding-#{$key}-down {
        padding: 0;;
      }
    }
  }
}
