.main-menu {
  @include breakpoint-up("md") {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    letter-spacing: 1.1px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--surface4);
    color: var(--text1);
    height: 100%;
    text-transform: uppercase;

    @include breakpoint-down("md") {
      position: absolute;
      top: var(--header-height);
      left: 0;
      width: 100%;
      height: calc(100vh - var(--header-height));
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      z-index: 10;
      overflow-y: auto;
      border-top: 1px solid currentcolor;
    }

    @include breakpoint-up("md") {
      border-right: 1px solid currentcolor;
    }
  }

  button {
    background-color: var(--surface1);
    color: var(--text2);
    border: none;
    height: 100%;
    padding: 0 var(--header-lr-padding);
    text-align: center;
    cursor: pointer;
    border-left: 1px solid currentcolor;
    transition: background 0.3s ease;

    &:hover,
    &.active {
      background-color: var(--surface1);
    }

    @include breakpoint-up("md") {
      display: none;
    }

    &[aria-expanded="true"] {
      .feather-menu {
        display: none;
      }
    }

    @include breakpoint-down("md") {
      &[aria-expanded="false"] {
        .feather-x,
        + ul {
          display: none;
        }
      }
    }
  }

  li {
    @include breakpoint-up("md") {
      height: 100%;
    }
  }

  a {
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    padding: 20px var(--header-lr-padding);

    @include breakpoint-up("md") {
      height: 100%;
      padding: 0 var(--header-lr-padding);
    }

    &:hover,
    &.active {
      background-color: var(--surface2);
    }
  }
}
