<form name="contact" method="POST" data-netlify="true" enctype="multipart/form-data">
  <div class="form-item">
    <label for="name">{{ T "name" }}</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-item">
    <label for="email">{{ T "email" }}</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div class="form-item">
    <label for="file">{{ T "file" }}</label>
    <input type="file" id="file" name="file">
  </div>

  <div class="form-item">
    <label for="message">{{ T "message" }}</label>
    <textarea name="message" id="message" rows="5" required></textarea>
  </div>

  <div class="form-item form-item--checkbox">
    <label for="terms">{{ T "terms" }}</label>
    <input type="checkbox" id="terms" name="terms" required>
  </div>

  <button type="submit" class="button">{{ T "submit" }}</button>
</form>
