{{ $data := index .Site.Data.cookies }}
{{ $data = index $data .Page.Language.Lang }}

<div class="cookies js-cookies is-hidden">
  <div class="container">
    <div class="grid align-items-center">
      <div class="col-12 col-sm-8">
        <span>{{ $data.text }} <a href="{{ $data.more.href }}">{{ $data.more.text }}</a></span>
      </div>

      <div class="col-12 col-sm-4 text-right">
        <button class="button no-arrow js-confirm-cookies">{{ $data.confirm }}</button>
      </div>
    </div>
  </div>
</div>
