.layout-kontakt {
  &__info {
    list-style: none;
    padding: 0;
    margin: calc(2 * var(--p-margin)) 0;

    li {
      display: flex;
      gap: 16px;
      align-items: center;
      margin: 16px 0;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;

    iframe {
      width: 100%;
      height: 100%;
      min-height: 240px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include breakpoint-up('sm') {
      padding-left: var(--header-lr-padding);
    }

    form {
      background-color: var(--surface4);
      padding: var(--header-lr-padding);
      height: 100%;

      @include breakpoint-down("sm") {
        margin: 0 calc(-1 * var(--header-lr-padding));
      }
    }
  }
}
