<div class="home-hero grid no-gap">
  <div class="col-12 col-sm-6 col-xxl-5 home-hero__text">
    <h1 class="no-margin"><span>{{ .title }}</span></h1>

    {{ with .description }}
      <p class="large-text no-margin-bottom"><span>{{ . | markdownify }}</span></p>
    {{ end }}
  </div>

  {{ with .images }}
    <div class="col-12 col-sm-6 col-xxl-7 home-hero__image swiper">
      <div class="swiper-wrapper">
        {{ range . }}
          <img src="{{ .src }}" alt="{{ .alt }}" class="swiper-slide">
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  {{ end }}
</div>
