.home-hero {
  height: calc(100vh - var(--header-height));
  position: relative;

  @include breakpoint-down('md') {
    max-height: 600px;
  }

  &__image {
    position: relative;

    @include breakpoint-down('sm') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .swiper-pagination {
      --swiper-theme-color: var(--brand);
      --swiper-pagination-bullet-size: 16px;
      --swiper-pagination-bullet-gap: 24px;
      --swiper-pagination-bullet-inactive-opacity: 0.8;
      --swiper-pagination-bullet-inactive-color: var(--surface4);
      position: absolute;

      @include breakpoint-down('sm') {
        right: var(--container-padding);
        top: 32px;
        width: initial;
        bottom: initial;
        left: initial;
      }

      @include breakpoint-up('sm') {
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    height: 100%;

    @include breakpoint-up('md') {
      height: calc(100vh - var(--header-height));
    }
  }

  &__text {
    padding: var(--header-lr-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-down('sm') {
      z-index: 2;
      justify-content: flex-end;
      align-items: flex-start;
      background: linear-gradient(to bottom, transparent 30%, var(--surface1) 110%);
      pointer-events: none;
    }
  }

  h1 {
    font-weight: 400;

    &::after {
      display: none;
    }

    span {
      border-bottom: 3px solid var(--brand);
    }
  }

  p {
    font-size: clamp(24px, 4.8vw, 32px);
    font-weight: 400;
    line-height: 1.5;
  }
}
