.home-hero {
  height: calc(100vh - var(--header-height));
  position: relative;

  img {
    width: 100%;
    height: calc(100vh - var(--header-height));
    object-fit: cover;
    object-position: top;
    display: block;
  }

  &__text {
    padding: var(--header-lr-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-weight: 400;

    &::after {
      display: none;
    }

    span {
      border-bottom: 3px solid var(--brand);
    }
  }

  p {
    font-size: clamp(24px, 4.8vw, 32px);
    font-weight: 400;
    line-height: 1.5;
  }
}
