.home-partners {
  border-top: 3px solid var(--surface4);
  border-bottom: 3px solid var(--surface4);

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
