.home-partners {
  border-top: 1px solid var(--surface3);
  border-bottom: 1px solid var(--surface3);

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
